//初始配置
html,body,div,img,p,ul,li {
    margin: 0;
    padding: 0;
}
html ,body,#app{
    font-size: 16px;
    font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
    min-width: 320px;
    height: 100%;
}
ul li{
    list-style-type: none;
}
a{
    text-decoration:none;
    color: #565656
}
// img[lazy=loading] {
//   background:#000;
// }
// img[lazy=error] {
//   background:#000;
// }
$theme:#565656;
$yellow:#ffb71b;
$blue:#0ac7fd;
$green:#74ce3b;
$rose:#e4195b;

// 混合
@mixin  fc($size,$color) {
    font-size:px2rem($size);
    color:$color;
}
@mixin whradius($radius:50%,$width:15vw,$height:15vw){
    border-radius: $radius;
    width:$width;
    height:$height;
    text-align: center;
}
@mixin position($position,$right,$bottom,$index){
    position:$position;
    right:$right;
    bottom:$bottom;;
    z-index: $index;
}
//px转换rem
@function px2rem($px) {
    $rem: 32px;
    @return ($px/$rem) +rem;
}

//网格布局
.flex-row{
    display: -webkit-flex;
    display: flex;
    &.xs{
        margin:0  px2rem(11px);
        flex-wrap: wrap;
    }
}
.flex-grid{
    flex:1;
    -webkit-flex: 1;
    -ms-flex: 1;
    &.flex-grid3{
        flex:0 0 33.333%;
        -webkit-flex:0 0 33.333%;
        -ms-flex: 0 0 33.333%;      
    }
}
.flex-vertical{
    display: flex;
    flex-direction: column;
    height: 100%;
    .flex-vertical-content{
        flex: 1;
        overflow: scroll;
    }
}
.verticalheight{
    height:100vh;
    background: #fafafa;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box;    
}

.show{
    display: block;
}
.hide{
    display: none;
}

//颜色
.bg-yellow{
    background:$yellow;
}
.bg-blue{
    background:$blue;
}
.bg-green{
     background:$green;
}
.bg-rose{
    background: $rose;
}

.text-yellow{
    color:$yellow;
}
.text-blue{
    color:$blue;
}
.text-green{
    color:$green;
}
.text-rose{
    color: $rose;
}

//分页
.mint-loadmore {
    overflow: hidden
}
.mint-loadmore-content.is-dropped {
    -webkit-transition: .2s;
    transition: .2s
}
.mint-loadmore-top, .mint-loadmore-bottom {
    text-align: center;
    height: 50px;
    line-height: 50px
}
.mint-loadmore-top {
    margin-top: -50px
}
.mint-loadmore-bottom {
    margin-bottom: -50px
}
.mint-loadmore-spinner {
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle
}
.mint-loadmore-text {
    vertical-align: middle
}

.page-loadmore .mint-spinner {
    display: inline-block;
    vertical-align: middle;
}
.page-loadmore-desc {
    text-align: center;
    color: #666;
    padding-bottom: 5px;
}
.page-loadmore-desc:last-of-type {
    border-bottom: solid 1px #eee;
}
.page-loadmore-listitem {
    height: 50px;
    line-height: 50px;
    border-bottom: solid 1px #eee;
    text-align: center;
}
.page-loadmore-listitem:first-child {
    border-top: solid 1px #eee;
}
.page-loadmore-wrapper {
    overflow: scroll;
}
.mint-loadmore-bottom span {
    display: inline-block;
    -webkit-transition: .2s linear;
    transition: .2s linear;
    vertical-align: middle
}
.mint-loadmore-bottom span.is-rotate {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.mint-spinner-snake {
  -webkit-animation: mint-spinner-rotate 0.8s infinite linear;
          animation: mint-spinner-rotate 0.8s infinite linear;
  border: 4px solid transparent;
  border-radius: 50%;
}
@-webkit-keyframes mint-spinner-rotate {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}
@keyframes mint-spinner-rotate {
0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
}
}

