@import "confi.scss";

.documents{
    position: relative;
    padding:0 px2rem(22px);
    margin-bottom: px2rem(22px);
    color: $theme;
    background: #fff;
    .companyname{
        font-size: px2rem(30px);
        padding: px2rem(22px);
        display: flex;
        justify-content:space-between;        
    }
    i{
         @include fc(40px,#bebebe)
    }
    .labela,.labelb,.status{
        padding: px2rem(22px);
        display: flex;
        justify-content:space-between;
        align-items: center;
        font-size: px2rem(28px);
        position: relative;
        &:before{
            width: 100%;
            content:"";
            position: absolute;
            left:0;
            top:0;
            -webkit-transform:scaleY(.5);
            -webkit-transform-origin:0 0;                    
            border-top:px2rem(1px) solid #efefef;
        }         
    }
     @include border-after();
     @include border-before();
           
}
.documentsdetail{
     padding: px2rem(22px) 0;
    .documentsdetail-content{
        background: #fff;
        position: relative;
        @include border-after();
        @include border-before();
        font-size: px2rem(30px);
        .head{
            padding: px2rem(22px);
            display: flex;
            position: relative;
            .tit{
                flex: 1;
                text-align: center;
                @include fc(30px,#010101);
            }
            .time{
                @include position(absolute,px2rem(10px),px2rem(22px),9);
                @include fc(28px,$grey1);
            }
        }
        .content{
            padding:0 px2rem(22px) ;
            .list{
                display: flex;
                padding: px2rem(22px) ;
                position: relative;
                @include border-after();
                .sublist{
                    flex: 1;
                    .subtit{
                        color: $grey1;
                        display: inline-block;
                    }
                    .label{
                        color: $theme;
                    }                    
                }
            }
        }
    }
}

.documentsdetail-table{
    margin-left: px2rem(22px);
    margin-top: px2rem(22px);
    overflow: scroll;
    position: relative;
    @include border-after();  
    @include border-before();  
}

.documentsdetail-footer{
    font-size: px2rem(30px);
    padding: px2rem(22px);
    background: #fff;
    position: relative;
    &:after{  
        @include before-after();    
        top:0;             
        border:px2rem(1px) solid #efefef;
    }; 
}

table{
    width: 100%;
    background: #fff;
    @include fc(28px,$grey1);
}
table thead{
    color: $grey1;
}
table tr td{
    padding: 5px;
    text-align: center;
    min-width:px2rem(120px);
}
tbody tr:nth-child(odd){
    background:#f4f4f4;
}
tbody tr td{
    color: $theme;
}