@import "confi.scss";


.headline{
    position: relative;
    display: flex;
    justify-content:space-between;
    padding: px2rem(22px);
    .tit{
          @include fc(34px,$theme);
        i{
          font-size:px2rem(40px)
        }
    }
    .more{
        @include fc(28px,$grey1);   
    }
    @include border-after();
}