@import "confi.scss";

.nav-radius{
    display: flex;
    flex-direction: column ;
    align-items: center;
    color:$theme;
    font-size: px2rem(28px);
    .nav-icon{
        @include whradius(50%,16vw,16vw);
        line-height:18vw;
        margin-bottom: px2rem(20px);
        i{
            @include fc(60px,#fff)
        }
    }
}