@import "confi.scss";

.item{
    position: relative;
    display: flex;
    align-items: center;
    padding: px2rem(25px);
    font-size: 30px;
    background: #fff;
    .tit{
        flex: 0 0 95%;
        font-size: px2rem(36px);
        i{
            @include fc(40px,$yellow)
        }
    }
    .open{
        i{
            @include fc(40px,#dcdcdc)
        }
    }
    @include  border-before();
    @include  border-after();
    &.distancetop{
        margin-top: px2rem(24px)
    } 
    .portrait{
        flex: 0 0 20%;
        margin-right:5%;
        img{
            width: 100%;
            max-width: 100%;
            border-radius: px2rem(10px)
        }
    }
    .userinfor{
        flex: 1;
        .name{
            @include fc(40px,$theme);
        }
    }      
}