@import "confi.scss";

.search{
    display: flex;
    align-items: center;
    position: relative;    
    padding: px2rem(5px);
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    border-radius:px2rem(10px); 
    .magnify{
        position: absolute;
        left:px2rem(10px);
        top:px2rem(6px);
        i{  
            @include fc(40px,#fff)
         }    
    }
    .input{
         @include fc(30px,#fff);
         flex: 1;
         padding-left:px2rem(40px) 
    }
    .scan{
         flex:0 0 7%;
         i{
             @include fc(40px,#fff)        
         }
    }
}
