@import "confi.scss";

.search{
    display: flex;
    align-items: center;
    position: relative;    
    padding: px2rem(5px);
    @include boxsizing();
    border-radius:px2rem(10px); 
    .magnify{
        position: absolute;
        left:px2rem(10px);
        top:18%;
        i{  
            @include fc(40px,#fff)
         }    
    }
    .input{
         @include fc(30px,#fff);
         flex: 1;
         padding-left:px2rem(40px) 
    }
    .scan{
         flex:0 0 7%;
         i{
             @include fc(40px,#fff)        
         }
    }
}

.index-search{
    width: 100%;
    position: absolute;
    z-index: 9;
    .search{
        margin: px2rem(30px);
        background: rgba(0, 0, 0, 0.4);
    }
    .input{
        border: none;
        background: rgba(0, 0, 0, 0)
    }
    placeholder{
        color: #fff;
    }
    :-ms-input-placeholder {
        color: #fff;
    }
    ::-webkit-input-placeholder {
        color: #fff;
    }    
}