@import "confi.scss";

 placeholder{
    color: $grey1;
  }
  :-ms-input-placeholder {
    color: $grey1;
  }
  ::-webkit-input-placeholder {
     color: $grey1;
  }  
  .searchbox{
    position: relative;
    padding: px2rem(22px);
    margin-bottom: px2rem(22px);
    background: #fff;
    @include border-before() ;        
  }
  .search{
     display: flex;
     align-items: center;  
     position: relative; 
    .magnify{
        position: absolute;
        top:20%;
        left:px2rem(15px);     
        i{
          @include fc(40px,$grey1);
        }
        &.right{
          left:inherit;
          width: px2rem(50px);
          right:px2rem(80px);
        }      
    }
    .input{
      flex: 1;
      border-radius:px2rem(10px);
      border: 1px #dcdcdc solid;
      padding: px2rem(15px);
      padding-left: px2rem(55px);
      -webkit-appearance: none;
      font-size: px2rem(25px)
    }
    .scan{
      flex: 0 0 12%;
      text-align: right;
      i{
        @include fc(40px,$grey1)
      }
    }
  }
  .searchhot{
      padding: px2rem(22px);
      .searchtit{
           padding: px2rem(22px);
           text-align: center;
           @include fc(30px,$theme);
      }
      .keyword{
          background: #eeeeee;
          display: inline-block;
          padding:px2rem(16px) px2rem(23px) ;
          font-size: px2rem(30px);
          @include fc(30px,#787878);
          border-radius:px2rem(5px)
      }
      .searchhot-item{
        @include fc(30px,$theme);
        position: relative;
        padding: px2rem(22px) 0;
        @include border-before();      
      }
  }
  .downmenu{
    flex: 0 0 20%;
    margin-right:2%;
    background: #ffb71b;
    @include fc(30px,#fff);
    padding:px2rem(10px) 0;
    position: relative;
    border-radius: px2rem(10px);
    .downmenubtn{
        text-align: center;
        width: 100%;
     }
    .downmenulist{
        border: px2rem(1px) solid #dcdcdc;
        position: absolute;
        z-index: 999;
        top:px2rem(60px);
        left:0;
        text-align: center;
        border-radius: px2rem(10px);
        width:96%;
        background:#fff;     
        li{
             padding:px2rem(10px);
             @include fc(30px,$theme);
                   
        }        
    }

}
