@import "confi.scss";

.search{
    display: flex;
    align-items: center;
    position: relative;    
    padding: px2rem(5px);
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    border-radius:px2rem(10px); 
    .magnify{
        position: absolute;
        left:px2rem(10px);
        top:px2rem(10px);
        i{  
            font-size:px2rem(40px);
            color: #fff;
         }    
    }
    .input{
         font-size:px2rem(30px);
         color: #fff;
         flex: 1;
         padding-left:px2rem(40px) 
    }
    .scan{
         flex:0 0 7%;
         i{
            font-size:px2rem(40px);
            color: #fff;
         }
    }
}
