@import "confi.scss";

 placeholder{
    color: #8c8c8c;
  }
  :-ms-input-placeholder {
    color: #8c8c8c;
  }
  ::-webkit-input-placeholder {
     color: #8c8c8c;
  }  
  .searchbox{
    position: relative;
    padding: px2rem(22px);
    margin-bottom: px2rem(22px);
    background: #fff;
    &:after{
        width: 100%;
        content:"";
        position: absolute;
        bottom: 0;
        left:0;
        -webkit-transform:scaleY(.5);
        -webkit-transform-origin:0 0;                    
        border-bottom:px2rem(4px) solid #efefef;
    }    
  }
  .search{
     display: flex;
     align-items: center;  
     position: relative; 
    .magnify{
        position: absolute;
        top:px2rem(10px);
        left:px2rem(15px);     
        i{
          @include fc(40px,#8c8c8c);
        }
        &.right{
          left:inherit;
          width: px2rem(50px);
          right:px2rem(70px);
        }      
    }
    .input{
      flex: 1;
      border-radius:px2rem(10px);
      border: 1px #dcdcdc solid;
      padding: px2rem(15px);
      padding-left: px2rem(55px);
      -webkit-appearance: none;
      font-size: px2rem(25px)
    }
    .scan{
      flex: 0 0 12%;
      text-align: right;
      i{
        @include fc(40px,#8c8c8c)
      }
    }
  }
  .searchhot{
      padding: px2rem(22px);
      .searchtit{
           padding: px2rem(22px);
           text-align: center;
           @include fc(30px,$theme);
      }
      .keyword{
          background: #eeeeee;
          display: inline-block;
          padding:px2rem(16px) px2rem(23px) ;
          font-size: px2rem(30px);
          @include fc(30px,#787878);
          border-radius:px2rem(5px)
      }
      .searchhot-item{
        @include fc(30px,$theme);
        position: relative;
        padding: px2rem(22px) 0;
        &:after{
            width: 100%;
            content:"";
            position: absolute;
            bottom: 0;
            left:0;
            -webkit-transform:scaleY(.5);
            -webkit-transform-origin:0 0;                    
            border-bottom:px2rem(1px) solid #efefef;
        }          
      }
  }
  .downmenu{
    flex: 0 0 20%;
    margin-right:2%;
    background: #ffb71b;
    @include fc(30px,#fff);
    padding:px2rem(10px) 0;
    position: relative;
    border-radius: px2rem(10px);
    .downmenubtn{
        text-align: center;
        width: 100%;
     }
    .downmenulist{
        border: px2rem(1px) solid #dcdcdc;
        position: absolute;
        z-index: 999;
        top:px2rem(60px);
        left:0;
        text-align: center;
        border-radius: px2rem(10px);
        width:96%;
        background:#fff;     
        li{
             padding:px2rem(10px);
             @include fc(30px,$theme);
                   
        }        
    }

}
