@import "confi.scss";
.tab{
    padding:0 px2rem(22px) ;
    position: relative;
    .tabitme{
        margin-right: px2rem(40px);
        font-size: px2rem(24px); 
        padding: px2rem(22px) 0;  
        display: inline-block;
         border-bottom:  px2rem(5px) #fff solid;
        &.router-link-active{
            border-bottom:  px2rem(5px) $yellow solid;
        }
    }
    &:after{
        width: 100%;
        content:"";
        position: absolute;
        top:0;
        left:0;
        -webkit-transform:scaleY(.5);
        -webkit-transform-origin:0 0;                    
        border-top:px2rem(1px) solid #efefef;
    }
    &:before{
        width: 100%;
        content:"";
        position: absolute;
        bottom:0;
        left:0;
        -webkit-transform:scaleY(.5);
        -webkit-transform-origin:0 0;                    
        border-bottom:px2rem(1px) solid #efefef;
    }         
}